<h1>HOME</h1>

<h2>Welcome <%= @user.name %></h2>
<div id="principal" >
<div id="create" ><a href="/create">Create a poll</a></div>
<div id="all"><a href="/survey_list">All surveys</a></div>
<div id="your"><a href="/user/<%= @user.id %>/stats_surveys">Your surveys</a></div>
</div>
